#Vizu{
    position: fixed;
    top: 0;left: 0;
    bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    pointer-events: none;
}
#Vizu.open{
    pointer-events: all;
}

#VizuScreen{
    width: 100%;
    height: 100%;
}

#VizuTitle{
    position: absolute;
    top:0;left:50vw;
    transform: translateX(-50%);
    color:white;
    text-shadow: 2px 2px 4px grey;
    font-size: 5vh;
}

#VizuCount{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}
#VizuClose{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(icons/Close.png);
    width: 24px;
    height: 24px;
}

.VizuArrow{
    width:50px;
    height:60%;
    color:white;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position-y: 50%;
    border-radius: 30px;
}
.VizuArrow:hover{
    background-color: rgba(0,0,0,0.1);
}
.VizuArrow.disabled{
    opacity: 0.5;
}
#VizuPrevious{
    left:10px;
    background-image: url(icons/ArrowLeft.png);
}
#VizuPrevious.disabled{
    left:-60px;
}
#VizuNext{
    right:10px;
    background-image: url(icons/ArrowRight.png);
}
#VizuNext.disabled{
    right:-60px;
}